{% extends 'ctsp/base.html' %}
{% load staticfiles %}
{% block body_block %}
<!--Botoes no centro da tela-->
<div class="container size">
    <div class="row vertical-align justify-content-center">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalCreateProject">
            Create Project
        </button>
        <div class="col-2"></div>
        <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#modalOpenProject">
            Open Project
        </button>
    </div>
</div>

<!--Formulario criar projeto-->
<div id="modalCreateProject" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Project</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Form code begins -->
            <form action="{% url 'ctsp:create_project' %}" id="create_form" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    {% for hidden in form.hidden_fields %} {{ hidden }} {% endfor %}
                    <ul>
                        {% for field in form.visible_fields %}
                        <li>
                            {{ field.label }}
                            <p align='left'>
                                {{ field }}
                            </p>
                        </li>
                        {%endfor%}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" name="submit" form="create_form"
                            data-dismiss="modal-body">Create
                    </button>
                </div>
            </form>
            <!-- Form code ends -->
        </div>
    </div>
</div>

<!--Formulario abrir projeto-->
<div id="modalOpenProject" class="modal fade">
    <div id="modal-show" class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Open Project</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Form code begins -->
            <form id="open_form">
                {% csrf_token %}
                <div class="modal-body">
                    {% for hidden in query.hidden_fields %} {{ hidden }} {% endfor %}
                    <ul>
                        {% for field in query.visible_fields %}
                        <li>
                            {{ field.label }}
                            <p align='left'>
                                {{ field }}
                            </p>
                        </li>
                        {%endfor%}
                    </ul>
                    <table id="project_table" class="query-table td th">
                        <tbody id="table_body">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="query-go" class="btn btn-primary" type="button">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $("#project_name_or_ID").keypress("click", function (event) {
        if (event.key !== "Enter")
            return;
        $("#query-go").click();
        event.preventDefault();
    });
</script>

<script>
    $(document).ready(function () {
        var date_input = $('input[id="from_forms"]'); //our date input has the name "date"
        var container = $('.bootstrap form').length > 0 ? $('.bootstrap form').parent() : "body";
        var options = {
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true,
        };
        date_input.datepicker(options);
    })
</script>
<script>
    $("#query-go").on("click", function () {
        var search = $(project_name_or_ID).val();
        $.ajax({
            type: 'post',
            data: {
                'search': search,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            dataType: 'json',
            success: function (data) {
                $("tr").remove();
                $("caption").remove();
                if (data.length) {
                    $("table")
                        .append("<caption>" + 'Total of ' + data.length + ' projects found' + "</caption>")
                        .append("<tr class='tr'>" +
                            "<th>ID</th>" +
                            "<th>Name</th>" +
                            "<th>Start Date</th>" +
                            "<th>End Date</th>" +
                            "</tr>");
                } else {
                    $("table").append("<caption class='text-danger'>No projects were found for your search<caption>");
                }
                for (let i = 0; i < data.length; i++) {
                    $("#table_body")
                        .after('<tr>' +
                            '<th id="non-fix-h">' + data[i]["project_pk"] + '</th>' +
                            '<th id="non-fix-h">' + data[i]["project_name"] + '</th>' +
                            '<th id="non-fix-h">' + data[i]["project_start"] + '</th>' +
                            '<th id="non-fix-h">' + data[i]["project_end"] + '</th>' +
                            '</tr>'
                        );
                }
            }
        });
    });
    document.write("lul")
</script>


{% endblock %}