{% extends 'ctsp/base.html' %}
{% load staticfiles %}
{% block title_block %}
 Welcome!
{% endblock %}
{% block body_block %} {% for field in project %}
<p class="legend">
    Scrum project named "{{field.project_name | title}}" successfully created!
</p>
<ol>
    <li>
        <a href="">Create team members</a>
    </li>
    <li>
        <a href="">Assign team members to Scrum roles</a>
    </li>
    <li>
        <a href="">Create product backlog for the project</a>
    </li>
    <li>
        <a href="">Create a Sprint</a>
    </li>
</ol>
{%endfor%} {% endblock %}